extends layout

block content
  #search
    h1= title
    form(action="/",method="post")
      input(type="text", class="url-input", placeholder="https://example.com", name="input_url")
      input(type="submit", class="url-submit", value="count words")
    if url != undefined
      a(href="#results" class="link-results") Results for #{url}
  if url != undefined
    #history
      div
        a(href="#search" class="link-results") Back to search
        h1 History
      .saved-urls
        each arr in history
          form(action="/saved_result", method="get")
            input(type="hidden" name="saved_url" value="#{arr[0]}")
            button(type="submit" class="saved-url") #{arr[0]}
      div
        a(href="#results" class="link-results") Results for #{url}
    #results
      a(href="#search" class="link-results") Back to search
      a(href="#history" class="link-results") Search history
      h1 Results
      h2 #{url}
      table.results-table
        thead
          th Word
          th Count
        tbody
        each arr in results
          tr
            td= arr[0]
            td= arr[1]
